<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/nav-I.css">
  <title>Tienda Unemi</title>
</head>
<body>

    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="container">
        <header>
          <a href="/" class="logo">Menu Tienda Unemi</a>
          <%- include('partials/navigation') %>
        </header>

        <div class="contenido">
          <h2>Objetivo</h2>
          <P>.</P>
          <a href="/calcul">
            <button class="button">Ver Proyecto <Ver class="fa fa-code-branch"></i></button>
          </a>
        </div>

        <div class="bar">
          <div class="ball"></div>
        </div>

        <ul class="iconos">
          <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
          <li><a href="https://github.com/fborjaz/" target="_blank"><i class="fa fa-github"></i></a></li>
          <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
        </ul>
        <p class="copy">github.com/fborjaz -@fborjaz</p>
      </div>

    </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // Ajustar el margen superior de los elementos afectados
    function ajustarMargenSuperior() {
      var navbarHeight = $('.navbar').outerHeight();
      $('#mainContent').css('margin-top', navbarHeight + 'px');
    }

    // Ejecutar la función cuando el documento esté completamente cargado
    $(document).ready(function() {
      ajustarMargenSuperior();
    });
</script>

</body>
</html>
