<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>RegCliente</title>
  <%- include('partials/header') %>
  <style>
    #cardField, #limitField {
      display: none;
    }
  </style>
</head>

<body>
  <%- include('partials/navigation.ejs') %>
  <div class="container p-4" id="mainContent">
    <form class="card card-body" id="clientForm">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" required>
      </div>
      <div class="form-group">
        <label for="dni">Cédula:</label>
        <input type="text" id="dni" name="dni" class="form-control" placeholder="Cédula" required>
      </div>
      <div class="form-group">
        <label for="tipo">Tipo de Cliente:</label><br>
        <select id="tipo" name="tipo" class="form-control" onchange="mostrarOpciones()">
          <option value="regular">Cliente Regular</option>
          <option value="vip">Cliente VIP</option>
        </select>
      </div>
      <div class="form-group" id="cardField">
        <label for="card">¿Tiene tarjeta de descuento?</label><br>
        <input type="checkbox" id="card" name="card">
      </div>
      <div class="form-group" id="limitField">
        <label for="limit">Límite de crédito:</label>
        <input type="number" id="limit" name="limit" class="form-control" placeholder="Límite de crédito" min="10000" max="20000">
      </div>
      <input type="submit" value="Registrar" class="btn btn-primary" onclick="enviarDatos()">
    </form>
  </div>
</body>

<script src="/funcion.js"></script>

<script>
  // Ajustar el margen superior de los elementos afectados
  function ajustarMargenSuperior() {
    var navbarHeight = $('.navbar').outerHeight();
    $('#mainContent').css('margin-top', navbarHeight + 'px');
  }

  // Ejecutar la función cuando el documento esté completamente cargado
  $(document).ready(function() {
    ajustarMargenSuperior();
  });
</script>

</html>
